.shuffleboard {
  width: 1200px;
  height: 300px;
  background-color: #8b4513;
  position: relative;
  margin: 20px auto;
  border: 10px solid #654321;
  overflow: hidden;
}

.foul-line {
  position: absolute;
  left: 600px;
  width: 5px;
  height: 100%;
  border: 5px dotted rgba(255, 0, 0, 0.5);
}

.disc {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.drag-line {
  position: absolute;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  transform-origin: left center;
}

.player1 {
  background-color: red;
}

.player2 {
  background-color: blue;
}

.score-1 {
  top: 0;
  left: 800px;
}

.score-indicator {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  width: 50px;
  height: 50px;
  border: 5px double;
  border-radius: 50%;
}

.scoring-area {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 75px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-right: 2px dashed rgba(255, 255, 255, 0.3);
  border-left: 2px dashed rgba(255, 255, 255, 0.3);
}

.starting-area {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-right: 2px dashed rgba(255, 255, 255, 0.3);
}